{% extends "page_base.html" %}

{% block title %}Дашборд администратора{% endblock %}

{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Пользователи <small>Редактирование и активация пользователей</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a></li>
                        <li><a href="#">Settings 2</a></li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p class="text-muted font-13 m-b-30">

            </p>

            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчесво</th>
                        <th>Класс</th>
                        <th>Логин</th>
                        <th>Роль</th>
                        <th>Активен</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.otchestvo }}</td>
                        <td>5А</td>
                        <td>{{ user.login }}</td>
                        {% if user.role == 'admin' %}
                        <td>АДМИН</td>
                        {% elif user.role == 'teacher' %}
                        <td>УЧИТЕЛЬ</td>
                        {% elif user.role == 'student' %}
                        <td>УЧЕНИК</td>
                        {% else %}
                        <td>ГОСТЬ</td>
                        {% endif %}
                        {% if user.active == 0 %}
                        <td>НЕТ</td>
                        {% else %}
                        <td>ДА</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}