{% extends "registration_base.html" %}

{% block content %}
<div class="main">
<div class="container_buttons">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <form action="student">
                <button class="btn btn-info btn-lg" name="student">Ученик</button>
            </form>
        </div>
        <div class="col-2">
            <form action="teacher">
                <button type="submit" class="btn btn-info btn-lg" name="teacher">Учитель</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
