{% extends "page_base.html" %}

{% block title %}Расписание{% endblock %}

{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Расписание для <b><span style="color: #5d8e5a;">{{ clas.number }}-{{ clas.letter }}</span></b> класса</h3>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            {% for day in days.keys() %}
            <div class="col-xxl-2 col-lg-4 col-sm-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-calendar"></i> {{ day }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-group">
                            {% for i in range(5) %}
                                {% if days[day][i] %}
                                    <!-- Template для иконки в строке <span class="sheduler-icon"><i class="fa fa-bookmark"></i></span> -->
                                    <li class="list-group-item">{{days[day][i]}}</li>
                                {% else %}
                                    <li class="list-group-item">--</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-xxl-2 col-lg-4 col-sm-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bell"></i> Звонки</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-group">
                            {% for time in times %}
                            <li class="list-group-item">{{ time }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}